accelerate==0.22.0
aiohttp
aiosignal==1.3.1
antiberty==0.1.3
async-timeout==4.0.3
datasets==2.14.5
dill==0.3.7
frozenlist==1.4.0
fsspec==2023.6.0
huggingface-hub==0.17.1
multidict==6.0.4
multiprocess==0.70.15
pandas==2.1.0
pyarrow
regex==2023.8.8
rjieba==0.1.11
safetensors==0.3.3
transformers==4.30.2
xxhash==3.3.0
yarl==1.9.2
biopython
setuptools
antiberty
scikit-learn
anarci
